:root {
    --primary-white-color: #FFFFFF;
    --accent-color: #FF6B0A;

    --text-main-color: #1B1D1F;
    --text-logo-color: #010101;
    --text-modal-color: #000000;

    --bcg-modal-color: rgba(27, 29, 31, 0.7);
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.container {
    width: 1170px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.link {
    text-decoration: none;
}

.text {
    font-size: 16px;
    line-height: 1.5;
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 2.08;
    text-align: center;
}

.list {
    list-style: none;
}

/* Hero */
.hero-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
}

/* Logo */

.logo {
    margin-bottom: 56px;
    display: flex;
    position: absolute;
    top: 0;
    left: 15px;
}

.logo-icon {
    display: inline-flex;
    align-items: center;
    width: 241px;
    height: 32px;
    margin-top: 32px;
}

.logo-text {
    width: 125px;
    margin-left: 16px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;

    color: var(--text-logo-color);
}

.logo-icon::before {
    background-image: url(../images/logo.svg);
    content: "";
    width: 100px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Banderogoose start window */

.banderogoose-hero {
    height: 100%;
    position: relative;
}

.hero-container-raw {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.banderogoose-container {
    align-self: center;
    
    padding: 60px 56px 60px 56px;

    background-color: var(--primary-white-color);
}

.banderogoose-greeting {
    margin-bottom: 16px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.banderogoose-start-text {
    margin-bottom: 48px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    color: var(--accent-color);
}

.banderogoose-title {
    margin-bottom: 24px;

    font-weight: 600;
    font-size: 64px;
    line-height: 1.12;
}

.banderogoose-text {
    margin-bottom: 48px;
}

.banderogoose-button {
    padding: 12px 24px;

    border: none;
    border-radius: 8px;

    background-color: var(--accent-color);

    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-white-color);

    cursor: pointer;
}

.banderogoose-image {
    align-self: flex-end;
}

/* Interesting facts */

.goose-facts {
    padding-top: 52px;
    padding-bottom: 72px;
}

.goose-facts > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ukr-logo,
.goose-facts .title,
.footer .title {
    margin-bottom: 16px;
}

.goose-facts-text {
    text-align: center;
    width: 875px;
    margin-bottom: 24px;
}

.goose-facts.list {
    display: flex;
}

.goose-facts-image {
    margin-bottom: 12px;
}

.goose-facts-item {
    flex-basis: calc((100%-16px*2)/3);
}

.goose-facts-item:not(:last-child) {
    margin-right: 16px;
}

.goose-facts-card {
    padding-left: 47px;
    padding-right: 47px;
}

.goose-facts-title {
    display: inline-block;
    margin-bottom: 32px;
    width: 280px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1;
}

.goose-facts-item > .text {
    display: inline-block;
    width: 280px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.footer > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 0;
    margin-bottom: 72px;

    background-image: linear-gradient(270deg, #C1E8FF 0%, #FFFFFF 100%);
}

.footer .text {
    width: 875px;
    text-align: center;
}

/* Modal background */

.modal-background {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    background-color: var(--bcg-modal-color);
    opacity: 0;
    pointer-events: none;
    
    transition: all 0.3s ease-in-out;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 92px 60px 92px;

    background-color: var(--primary-white-color);

    position: relative;
}

.close-button {
    position: absolute;
    right: 24px;
    top: 24px;

    font-size: 20px;
    color: var(--text-main-color);

    border: none;
    background: none;

    cursor: pointer;
}

.modal-form>.ukr-logo {
    margin-bottom: 32px;
}

.modal-form-title {
    margin-bottom: 12px;

    font-weight: 600;
    font-size: 24px;
    line-height: 1;

    color: var(--text-modal-color);
}

.modal-form-text {
    margin-bottom: 24px;

    font-size: 16px;
    line-height: 1.5;

    color: var(--text-modal-color);
}

.modal-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal-form-field + .modal-form-field {
    margin-top: 16px;
}

.modal-field-name.modal-form-text {
    margin-bottom: 8px;
}

.modal-form > .banderogoose-button {
    margin-top: 40px;
}

.modal-field-input {
    padding: 4px 8px;
    height: 48px;

    border: 1px solid #005BBB;
    border-radius: 8px;

    font-size: 16px;

    color: var(--text-modal-color);
}

.modal-form.second-modal {
    padding: 32px 65px 56px 65px;
}

.modal-form-text.second-modal {
    margin-bottom: 0;
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}